<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Idol API UI</title>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <main>
        <div class="container">
            <div class="button-container"></div>
            <div class="result-box"></div>
            <div class="profile"></div>
        </div>
    </main>
</body>
<script src="../static/js/script.js"></script>
</html>